{% extends 'base.html' %}
{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body is-justify-content-center">
        <div>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="e.g Alex Smith">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
            </div>
            </div>
          </div>
    </div>
</section>

{% endblock %}