{% extends 'base.html' %}
{% block buttons %}
<div class="buttons">
  <a class="button is-light" href="{{url_for('logout')}}">
    Log out
  </a>
</div>
{% endblock %}
{% block content %}
{% block dropdown %}
<section class="section">
<div class="columns">
    <div class="column is-one-fifth">
<aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a href="{{url_for('profile', profile_id=profile['profile_id'])}}"> Profile</a></li>
      <li><a>Dashboard</a></li>
      <li><a>Jobs</a></li>
    </ul>
    <ul class="menu-list">
      <li><a>Settings</a></li>
      <li><a>Invitations</a></li>
  </aside>
</div>
{% endblock %}
  <div class="column is-three-fifths">
    <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Component
          </p>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
            <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
  </div>
  <div class="column is-one-fifth">
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span>Hover me</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</section>
{% endblock %}